.rooms {
  $grid: 10px;

  position: absolute;
  display: flex;
  padding: #{$grid * 2};
  background: #eee;
  z-index: 3;
  text-align: center;

  .room {
    margin-right: $grid;

    .roomTitle {
      font-size: 20px;
    }

    .roomList {
      border: 2px solid #e5e5e5;
      transition: all 0.5s;
      border-radius: 2px;
      margin-top: $grid;
      padding: $grid;
      width: 100px;
      min-height: 60px;

      .roomPeer {
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: #{$grid / 2};
        margin: 0 0 $grid 0;
        border-radius: 3px;
        border: 1px solid #ccc;
        background: #f2f2f2;
      }
    }
  }
}
