.roomList.hidden {
  transform: translateX(-100%);
}

.roomList {
  $grid: 10px;

  position: absolute;
  display: flex;
  flex-direction: column;
  background: #eee;
  z-index: 3;
  text-align: center;

  transition: 0.5s transform;
  transform: translateX(0);
  will-change: transform;

  .header {
    display: flex;
    align-items: center;

    background: #42a7a1;
    color: #fff;
    height: 52px;
    line-height: 52px;

    .title {
      font-size: 18px;
      font-weight: 500;
      text-overflow: ellipsis;
      text-transform: uppercase;
    }

    .close {
      font-size: 24px;
      padding: 12px;
      cursor: pointer;
    }
  }

  .rooms {
    display: flex;
    align-items: center;
    padding: #{$grid * 2};

    .room {
      margin-right: $grid;

      .roomTitle {
        font-size: 20px;
      }

      .roomPeers {
        width: 100px;
        border: 2px solid #e5e5e5;
        min-height: 114px;
        border-radius: 2px;
        margin-top: $grid;
        padding: $grid;
        transition: all 0.5s;

        .roomPeer {
          user-select: none;
          display: flex;
          flex-direction: column;
          align-items: center;

          padding: #{$grid / 2};
          margin: #{$grid / 2} 0;
          border-radius: 3px;
          border: 1px solid #ccc;
          background: #f2f2f2;
        }
      }
    }
  }

  .addButton {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -5px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    background: white;
    font-size: 23px;
    cursor: pointer;
  }
}
